body {
    background: linear-gradient(135deg, #ff6a00, #ee0979, #00c6ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}


.calculator {
    width: 350px;
    background: linear-gradient(145deg, #1c1c1c, #000000);
    border-radius: 35px;
    padding: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.6);
}

.display {
    color: white;
    font-size: 45px;
    text-align: right;
    height: 90px;
    padding-top: 30px;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}


button {
    height: 55px;
    border-radius: 50%;
    border: none;
    background: #333;
    color:white;
    font-size:18px;
}


.gray {
    background:#555;
}


.orange {
    background:#ff9500;
}


.zero {
    grid-column: span 4;
    border-radius:40px;
}
